#contactform {
  width: 75%;
  top: 20%;
}


#contactform input[type=text], #contactform textarea {
  font-family: "Lato";
  font-size: 14px;
  width: calc(100% - 15px*2);
  box-sizing: border-box;
  padding: 10px;
  margin: 15px;
  border-color: #4a820c;
  border-radius: 5px;
  background-color: inherit;
  border-style: solid;
  color: white;
}


#contactform textarea {
  min-height: 150px;
  resize: vertical;
  border-width: 2px;
}

#contactform button {
  width: fit-content;
}
